{% extends 'index.html'%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    

</head>
<body>
 {% block content %}
 <div class="container">
  <div class="row">
    {% for post in  request.session.myimg %}
   <div class="col">
            <div class="card">
                <div class="card-image">
  <img class="card-img" src="/{{post}}" alt="Card image" style="height: 250px; width:300px">
  </div>
  </div>
  </div>
    {% endfor %}
</div>
 </div>


     {% endblock %}
</body>
</html>